// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F3F5F7;
$dark-blue: #0A4B57;
$medium-blue: #1291A8;
$light-blue: #2CC1DB;
$gray: #04080b;
$neon-green: #C1FF72;
$white: #F3F5F7;
