#driver-profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// .header-position {
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 20px;
// }

.driver-avatar {
  height: 70px;
  width: 70px;
  border: 2px solid #0A4B57;
  border-radius: 50%;
}

.details {
  // margin: 20px;
  color: #0A4B57;
}

// .reviews-list {
//   display: flex;
//   flex-direction: column;
//   gap:20px;
// }

.title-img {

    height: 170px;
    width: 170px;
}

.icon-driver-img {
  height: 17px;
  width: 21px;
}


.name {
  font-weight: 400;
}

.car-model-image {

  img {
    height: 250px;
    width:365px;
    // border: 2px solid $dark-blue;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}
