
// .btn {
//   color: white;
//   background-color: $light-blue;
// }

.home-container {
  margin-top: 20px;
  text-align: center;

  img {
    width: 290px;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    color: $light-blue;
    margin: 10px;
  }

  p {
    margin: 20px;
  }
}

#home-img {
  width: 100%;
}

.home-form {
  margin: 0 20px;
}

#social-img {
  margin-bottom: 30px;
  margin-top: 20px;
}
