
.btn {
  color: $light-gray;
  background-color: $medium-blue;
}

.home-container {
  margin-top: 20px;
  text-align: center;

  img {
    width: 290px;
  }

  h2 {
    margin-top: 20px;
  }

  h1 {
    color: $light-blue;
  }

}

#home-img {
  margin-top: 20px;
  width: 390px;
}

.home-form {
  margin: 0 20px;
}
