.show-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.button-with-svg {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-with-svg img {
  display: block;
  height: 44px;
  margin-top: 5px;
}

.text-darkblue {
  color: $dark-blue;
}
