<div class="container chatrooms-index">
<h1 class="header-chats">Chats : </h1>
  <div id="chatrooms-list">
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.messages.count != 0 %>
        <div class="card">
          <div class="chatroom-content">
            <div class="notification d-flex">
              <%= render "notification", chatroom: chatroom %>
            </div>
          </div>
          <%# <div class="chatroom-actions">
            <%= link_to "Join", ride_chatroom_path(chatroom.ride_id, chatroom), class: "btn btn-primary" %>
          <%# </div> %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
