<div class="bg-blue" id='header'>
  <div class="container-fluid d-flex justify-content-between py-2">
    <%= link_to root_path, class: "header-brand" do %>
      <%= image_tag "headerchanges.png" %>
    <% end %>
    <% if user_signed_in? %>
      <p id="Login-name" class='mt-3'><%= current_user.first_name%></p>
      <%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "" %>
    <% else %>
      <p class='mt-3'><%= link_to "Login", new_user_session_path, class: "head-link text-decoration-none" %></p>
    <% end %>
  </div>
</div>
