
<%# Button %>
<%= link_to 'Go search!', '#', class: 'btn btn-primary'  %>

<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />

<%# index cards %>
<div class="card" id='card-index'>
  <div class="card-info">
    <div>
      <h2>Current location</h2>
      <p>to</p>
      <h2>Destination</h2>
      <%# <p>available on</p> %>
    </div>

    <%# avatar image %>
    <div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-info">
    <p>available</p>
    <p>4€</p>
  </div>
</div>
