.btn-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $light-blue;
  transition: background 0.3s ease;
  border: 1px solid $light-blue;
}

.btn-primary:hover {
  background: $light-blue;
  color: white;
  border: 1px solid $light-blue ;
}
