.card-info {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  padding: 20px;
  color: $dark-blue;

  img {
    border: solid 3px $dark-blue;
    width: 60px;
    height: 60px;
  }

  p {
    font-size: 20px;
  }

}

#card-index {
  // margin: 20px;
  background-color:#D9D9D9;
}
