.avatar-large {
  margin: 40px;
  height: 85px;
  width: 85px;
  border: 2px solid #0A4B57;
  border-radius: 50%;
}

.details {
  margin: 30px;
  color: #0A4B57;
}

.recent {
  font-size: 40px;
  font-weight: bold;
  color:#1291A8;
  margin:20px;
  margin-left: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.reviews {
  align-content: flex-end;
  align-self: flex-end;
  margin-right: 20px;
}

#recent-ride-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  height:20px;
  width: 20px;
  margin-right: 10px;
}

.second image {
  padding-bottom: 5px;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}


.third-image {
  align-self: center;
  margin-bottom: 5px;
}

.logout-button {
  margin-top: 30px;
  margin-left: 12px;
  align-self: flex-end;
  justify-content: flex-end;
  text-align: center;
  margin-right: 15px;

}

.first-title {
  margin-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-recent-bookings {
  margin-right: 15px;
  font-weight: bold;
}

.car-image {

  img {
    height: 51px;
    width: 75px;
    border: 2px solid #0A4B57;
    border-radius: 10px;
  }

}

#pills-home-tab {
  // background-color: #1291A8;
}

.nav-link {
  background-color: white;
  color: $light-blue;
}

.nav-link:hover {
  color:#0A4B57;
}


.nav-pills .nav-link.active {
  background-color: $light-blue;
  color: white;
  border-radius: 5px;
}

.else-statement {
  font-weight: bold;
}
