.driver-info {
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color:$light-gray;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    margin: 10px;
  }

  h2 {
    margin-top: 20px;
  }
}

.driver {
  display: flex;
  justify-content: center;
}
