.bg-blue {
  background-color: $light-blue;
}

.header-brand {
  height: 30px;
}

.header-collapse {
  color: aliceblue;
}

.header-item {
  color: azure;
}

#header {
  img {
    height: 55px;
    width: 100px;
    margin-top: 3px;
  }
}

.mt-3 {
  color: $neon-green;
}

.head-link {
  color: $neon-green;
}
