.bg-blue {
  background-color: $medium-blue;
}

.header-brand {
  height: 30px;
}

.header-collapse {
  color: aliceblue;
}

.header-item {
  color: azure;
}

#header {
  img {
    height: 55px;
    // width: 100px;
    margin-top: 3px;
  }
}

.text-green {
  color: $neon-green;
}

.head-link {
  color: $neon-green;
}

#Login-name {
  color: white;
}
