.navbar-lewagon {
  justify-content: space-between;
  background: #0A4B57;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 50px;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-icon {
  color: rgb(255, 255, 255);

}
